.portfolio {
    padding-top: 10vh;
}

.portfolio-section-title {
    margin: 10px auto;
}

.portfolio-title {
    display: inline-block;
    font-size: 30px;
}

.portfolio__container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row;
    margin-top: 30px;
}

.portfolio__card {
    position: relative;
    width: 350px;
    height: 230px;
    margin-bottom: 40px;
    border-radius: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.portfolio__card:last-child {
    cursor: auto;
}

.card-guessTheNumber {
    background-image: url('../img/guessTheNumber.png');
}

.card-donationDM {
    background-image: url('../img/donationDM.jpg');
}

.card-pigGame {
    background-image: url('../img/pigGame.png');
}

.card-loginForm {
    background-image: url('../img/loginForm.png');
}

.card-horsesClub {
    background-image: url('../img/horsesClub.png');
}

.portfolio__card-overlay {
    box-sizing: border-box;
    padding: 3%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    opacity: 0;
    border-radius: 29px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.portfolio__card-overlay_name-project {
    font-size: 20px;
    margin-bottom: 5%;
}

.portfolio__card-overlay_description-project {
    font-size: 11px;
}

.portfolio__card:hover .portfolio__card-overlay {
    opacity: 1;
}

.hidden {
    display: none;
}


@media (min-width: 1080px) {
    .portfolio__card {
        width: 45%;
        height: 27.5vw;
    }

    .portfolio__card-overlay_name-project {
        font-size: 2vw;
    }

    .portfolio__card-overlay_description-project {
        font-size: 1vw;
    }
}

@media(min-width: 1600px) {

    .portfolio__card {
        width: 600px;
        height: 380px;
    }

    .portfolio-title {
        font-size: 35px;
    }

    .portfolio__container-card {
        margin-top: 70px;
    }
}